<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>

<div class="container">
    <p style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY-J1L8WM59_zjTe8AYAV4bZGZ3TvPE1tCFg&usqp=CAU');">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
<!--               image      -->
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is siri. How can I help you?</p>
                </div>

            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
                <button class="voice__button">voice</button>
            <!-- Voice Input Button -->
           
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" ></button>
        </div>

    </div>
</div>


    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>